<div id="page-content">
  <div class="container" id="home-container"> 
    <div class="jumbotron text-center">
      <h1 class="display-4">ANY BLOG</h1>
      <p class="lead">This site is a place for anyone to share their thoughts, however incoherent, on absolutely anything.</p>
      <hr class="my-4">
      <p>Have fun.</p>
      <%= link_to "Sign Up!", signup_path, class: "btn btn-success btn-lg" %>
    </div>
  </div>
</div>


