@import 'bootstrap/dist/css/bootstrap';

.navbar{
  background-color: black !important;
}

.nav-link {
  color: white !important;
}

#logo {
  color: white !important;
  float: left;
  font-size: 1.6em;
  letter-spacing: 1px;
}

#home-container {
  margin-top: 20px;
}

.jumbotron {
  background-image: asset-url('anyblogimage');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 550px;
  color: black;
}